<section id="about" th:fragment="about">
    <div class="row m-5 justify-content-center">
        <h2 class="col-9 text-center">
            About us
        </h2>
        <div class="row justify-content-center">
        <p class="col-6 p-3 m-3">
            We are Rational Agent. And we build software that will help you with your personal finances.
            With our tools you can easily create personal financial statements, financial planning...
        </p>
    </div>

    </div>
</section>