<section id="banner" th:fragment="banner">
    <div class="row justify-content-center mb-5 h-100">
        <div class="col text-center">
            <div class="row">
                <div class="col">
                    <img th:src="@{/img/rational-agent-logo.png}" />
                </div>
            </div>
            <div class="row">
                <div class="col text-center text-light">
                    <i>Rational Agent - software for finance</i>
                </div>
            </div>
        </div>
    </div>
</section>