<footer th:fragment="footer" class="row bg-dark text-lg-start justify-content-center border-1 border-top border-brand-color">
    <div class="h-100 col-xs-12 col-sm-4 p-6 text-left">
        <div class="m-4 text-light">
            <h5>Contact</h5>
            <address>
                <a class="text-light" href="mailto:rene.van.der.horst@protonmail.com">rene.van.der.horst@protonmail.com</a>
            </address>
        </div>
    </div>
    <div class="h-100 col-xs-12 col-sm-4 p-6 text-left">
        <div class="m-4 text-light">
            <h5>Follow Us</h5>
            <address>
                <a class="text-light" href="https://www.github.com/rational-agent">GitHub</a>
            </address>
         </div>
    </div>
</footer>