@font-face {
  font-family: 'Roboto Light';
  src: url('roboto-light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body, html {
    height: 100%;
    background: rgb(225, 225, 225);
    font-family: 'Roboto Light';
    font-size: 14px;
    overflow-x: hidden;
}
p a {
  color: #008080 !important;
}
header, nav {
  background-color: rgba(0, 0, 0, 0.5);
}
header > div,
header > div > div,
header > div > div > nav {
   height: inherit;
}
#banner {
  height: 500px;
  background: url('../img/banner.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px;
  margin-bottom: 25px;
}
.navbar {
  padding-left: 15%;
  padding-right: 15%;
}
.navbar-nav {
  margin-left: auto !important;
}
.border-brand-color {
  border-color: #008080 !important;
}
.text-brand-color {
  color: #008080 !important;
}
